<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} BookByCover {% endblock %}</title>
    <!-- <link rel="stylesheet" href="static/styles.css"> -->
    <nav class="navigation">
      <ul>
        <li><a href="/browse">BROWSE</a></li>
        <li><a href="/favorites">FAVORITES</a></li>
        <li><a href="/">LOGIN</a></li>
      </ul>
    </nav>
    {% block head %}{% endblock %}
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
  </head>
  <body>


    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>