{% extends 'base.html' %}

{% block title %} Browse Books {% endblock %}

  <h1>Search books</h1>

  {% block head %}
  <h2> Welcome back, {{ user_first_name }} !</h2>

  {% endblock %}
  {% block body %}
  <label for="title-field">Search Books:</label>
<form id="title-form">
  <div class="form-group">
    <input class="form-control" type="search" id="title-field" name="title" placeholder="Title"/>
  </div>
  <div class="form-group">
    <button id="search-button" type="submit">Search</button>
  </div>
</form>
  <div id="search-results">

  </div>
  <!-- <div id="test"> Test:   </div>
    <script>

    title_info = JSON.parse(title_info);
    var getimage = document.createElement("img");
    getimage.onload = function() {
       document.getElementById("test").appendChild(getimage);
    }
    getimage.src = title_info.book_image;
  </script> -->
  <h2>Browse:</h2>
  {% for book in books %}
    <p>{{ book.book_title }}</p>
    <p>{{ book.author_name }}</p>
    <p><img class="poster" src="{{ book.book_image }}"></p><br>
    <div class="favorite-group">
      <button id="favorite-button" type="submit">Favorite</button>
    </div>
  {% endfor %}

  <script src="/static/main.js"></script>


  <!-- <html>
  <head>
    <title>Books API Example</title>
  </head>
  <body>
    <div id="content"></div>
    <script>
      function handleResponse(response) {
      for (var i = 0; i < response.items.length; i++) {
        var item = response.items[i];
        // in production code, item.text should have the HTML entities escaped.
        document.getElementById("content").innerHTML += "<br>" + item.volumeInfo.title;
      }
    }

    </script>
    <script src="https://www.googleapis.com/books/v1/volumes?q=harry+potter&callback=handleResponse"></script>
  </body>
</html>

  <script type="text/javascript" src="https://ww.google.com/books/jsapi.js"></script>
  <script type="text/javascript">
    google.books.load();

    function initialize(){
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load('ISBN:0738531367');
    }

    google.books.setOnLoadCallback(initialize);
  </script>
    <div id="viewerCanvas" style="width: 600px; height: 500px"></div> -->
    {% endblock %}
