{% extends 'base.html' %}
{% block title %} Browse Books {% endblock %}
  <h1>Search books</h1>
  {% block head %}
  <h2> Welcome back, {{ user_first_name }} !</h2>

  {% endblock %}
  {% block body %}
  <!-- sources: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/search
  https://www.shecodes.io/athena/36478-how-to-create-a-search-input-and-button-in-javascript -->
  <label for="title-field">Search By Title:</label>
<form id="title-form">
  <div class="form-group">
    <input class="form-control" type="search" id="title-field" name="title" placeholder="Title"/>
  </div>
  <div class="form-group">
    <button id="search-button" type="submit">Search</button>
  </div>
</form>
<label for="author-field">Search By Author:</label>
<form id="author-form">
  <div class="form-group">
    <input class="form-control" type="search" id="author-field" name="authors" placeholder="Author"/>
  </div>
  <div class="form-group">
    <button id="search-button" type="submit">Search</button>
  </div>
</form>
  <div id="search-results">
  </div>
  <h2>Browse:</h2>
  {% for book in books %}
    <p>{{ book.book_title }}</p>
    <p>{{ book.author_name }}</p>
    <p><img class="poster" src="{{ book.book_image }}"></p>
    <br>
    <div class="favorite-group">

      <button class="favorite-button" data-book-id="{{ book.book_id }}">Favorite</button>
      <button class="del-favorite-button" data-book-id="{{ book.book_id }}">Remove Favorite</button>

    </div>

  {% endfor %}
  <script src="/static/js/main.js"></script>

    {% endblock %}