{% extends 'base.html' %}

{% block body %}

  <h1>Favorite books</h1>



<div id="favorite-results"></div>

</div>

<h2>Favorites:</h2>

 <!-- if matching favorite id -->
{% for book in favorites %}
  <p>{{ book.book_title }}</p>
  <p>{{ book.author_name }}</p>
  <p><img class="poster" src="{{ book.book_image }}"></p><br>
  <div class="favorite-group">
    <button id="del-favorite-button" type="submit">Delete Favorite</button>
  </div>
{% endfor %}

<script src="/static/main.js"></script>

</div>

{% endblock %}