{% extends 'base.html' %}

{% block body %}

  <h1>Favorite books</h1>



<div id="favorite-results"></div>

</div>

<h2>Favorites:</h2>

 <!-- if matching favorite id -->
{% for book in favorites %}
  <p>{{ book.book_title }}</p>
  <p>{{ book.author_name }}</p>
  <p><img class="poster" src="{{ book.book_image }}"></p><br>
  <div class="favorite-group">
    <button class="del-favorite-button-fav-page" data-book-id="{{ book.book_id }}">Delete Favorite</button>
  </div>
{% endfor %}

</div>

<script src="/static/main.js"></script>



{% endblock %}