{% extends "base.html" %}
{% block body %}

<br><h3>Find your new favorite book</h3><br>
<div id="main" class="'content">
    <h2>Create an Account</h2>
<h3>After account creation you will need to sign in</h3>
<form action="/signup" method="POST">
    <p>
        Email <input type="text" name="user_email">
    </p>
    <p>
        Password <input type="password" name="user_password">
    </p>
    <p>
        First name <input type="text" name="user_first_name">
        <input type="submit">
    </p>
</form>
</div>


{% endblock %}